body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: burlywood;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #2c3e50;
    padding: 15px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

nav a.active {
    color: red;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
}
.nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;

}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: rgb(194, 179, 179);
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.footer .designer{
    color: #5a3a1e; /*marron foncé*/
    font-weight: 500;
}
/*SECTION A PROPOS*/
.apropos-container {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.apropos-texte {
    width: 60%;
}
.apropos-text h2 {
    margin-bottom: 15px;
}

.coordonees {
    list-style: none;
    padding: 0 ;
    margin-top: 20px;
}

.coordonees li { 
    margin-bottom: 8px;
}
.apropos-image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.apropos-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #5a3a1e; /* marron foncé*/
}
.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
}

.home-text {
  width: 60%;
}

.home-image {
  width: 40%;
  text-align: right;
}

.home-image img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px; /* carré élégant */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/*FORMULAIRE*/
form {
    max-width: 400px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
@media (max-width:768px) {
    .apropos-container{
        flex-direction: column-reverse; text-align: center;
    }
.apropos-text,
.apropos-image{
    width: 100%;
}
}